<%= form_for(@article) do |f| %>
  <div class="container">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="container">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="container">
    <%= f.submit %>
  </div>
<% end %>
